.flavor-tile-cell {
  background-color: #edede4;
  width: calc(33.3333333333% - 1.875rem);
  border-radius: 5%;
  margin: 1%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  img{border-top-right-radius: 5%;
    border-top-left-radius: 5%;}
}

.basic-border-pink {
  position: absolute;
  height: 85vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;

  background-color: #edede4;
  border: 20px solid #ffd7d6;
  border-radius: 25px;
  overflow: scroll;
 } 

.name {
  font-size: x-large;
  text-align: center;
  margin: 2%;
}
