.display-image {
  img{border-radius: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 300px;  
  }
} 

 .callout.secondary {
  background-color: #f6edc7;
  color: #35404E;
  text-align: center;
  width: 50%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.table-top {
  background-image: url("https://ae01.alicdn.com/kf/HTB1mT1hcFGWBuNjy0Fbq6z4sXXai/7x5FT-Vintage-Horizontal-Wood-Grain-Pallets-Custom-Photo-Studio-Backdrop-Background-Vinyl-220cm-x-150cm.jpg_Q90.jpg_.webp");
  color: #f6edc7;
  font-weight: bold;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

.title h5 {
  color: #35404E;
}
