$woodBackground: url("https://ae01.alicdn.com/kf/HTB1mT1hcFGWBuNjy0Fbq6z4sXXai/7x5FT-Vintage-Horizontal-Wood-Grain-Pallets-Custom-Photo-Studio-Backdrop-Background-Vinyl-220cm-x-150cm.jpg_Q90.jpg_.webp");

.top-bar-section {
  color: #f5f0ed;
}

.top-bar.topbar-responsive {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 3%;
  background-image: $woodBackground;
  color: #f5f0ed;
}

#title-link {
  padding-left: 10px;
  color: #f5f0ed;
  font-family: 'Lobster', cursive;
  padding-left: 20px;
}

#sign-up {
  color: #f5f0ed;
  background-image: $woodBackground;
}

#sign-in {
  color: #f5f0ed;
  background-image: $woodBackground;
}

#sign-out {
  color: #f5f0ed;
  background-image: $woodBackground;
}

#sign-up:hover {
  color: #c3e9e1;
}

#sign-in:hover {
  color: #c3e9e1;
}

#sign-out:hover {
  color: #c3e9e1;
}

a:hover {
  color: #c3e9e1;
}

h3 {
  text-align: center;
  font-family: 'Lobster-Regular';
  color: #8d6e5f;
}

span.region-index-description {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.region-title {
  margin-top: 4%;
  margin-bottom: 4%;
}

div.card-section {
  text-align: center;
  font-weight: bold;
  background-image: url("https://thumbs.dreamstime.com/t/closed-up-texture-dutch-traditional-sweets-stroopwafel-selective-focus-background-banner-101281632.jpg");
  a{
    color: #212B36;
    font-size: large;
  };
}

.main-border-pink {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #edede4;
  border: 20px solid #ffd7d6;
  border-radius: 25px;
  overflow: clip;
}

.scroll-border-pink {
  position: relative;
  height: 85vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #edede4;
  border: 20px solid #ffd7d6;
  border-radius: 25px;
  overflow: scroll;
}

span.region-index-description {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.basic-border-for-flavors {
  position: absolute;
  height: 70vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;

  background-color: #edede4;
  border: 20px solid #ffd7d6;
  border-radius: 25px;
  overflow: scroll;
}

@font-face {
  font-family: 'Lobster-Regular';
  src: url('/app/assets/fonts/Lobster-Regular.ttf')
}

h1 a {
  font-family: 'Lobster-Regular';
}

.review-button {
  text-align: center;
}

.bg {
  background-image: url("https://static1.bigstockphoto.com/1/7/3/large1500/371404519.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}