.top-bar {
    background-color: #f6edc7;
}

.top-bar-section {
    background-color: #f6edc7;
    color: #8D6E5F;
}

.top-bar.topbar-responsive {
    background-color: #f6edc7;
    color: #ffd7d6;
}

#title-link {
    color: #8D6E5F;
    text-align: center;
}

#sign-up {
    color: #8D6E5F;
}

#sign-in {
    color: #8D6E5F;
}

#sign-out {
    color: #8D6E5F;
}

#sign-up:hover {
    color: #C3E9E1;
}

#sign-in:hover {
    color: #C3E9E1;
}

#sign-out:hover {
    color: #C3E9E1;
}

a:hover {
    color: #C3E9E1;
}

// #sign-up:visited {
//     color: #C3E9E1;
// }

// #sign-in:visited {
//     color: #C3E9E1;
// }

// #sign-out:visited {
//     color: #C3E9E1;
// }
