#title {
  color: #32404F;
  font-family: 'Lobster-Regular';
  font-size: xx-large;
  text-align: center;
}

.rating {
  color: #32404F;
  padding-top: 10px;
}

.error-notice { 
  color: #ff6961;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}

.review-form {
  color: #32404F;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: url("https://st.depositphotos.com/1105977/4758/i/950/depositphotos_47582993-stock-photo-ice-cream.jpg");
  background-size: cover;
  border-radius: 25px;
  overflow: clip;
  textarea {background-color: #edede4;}
  textarea:focus {background-color: #C3E9E1;}
}
