.body {
  margin: 5%;
  margin-top: 25px;
  label {font-weight: bold;}
  input {background-color: #C3E9E1;}
}

h3 {
  text-align: center;
  margin-top: 1%;
}

.form {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
}

.actions {
  text-align: center;
}

.links {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}